/* ==========================================================================*/
/*                            PATTERNS: BREADCRUMB                           */
/* ==========================================================================*/
:root {
  --breadcrumbs-image-height: var(--space-xl);
  --breadcrumbs-image-height-mobile: var(--space-l);
}

.breadcrumbs__wrapper {
  max-width: var(--layout-max-width);
  margin: var(--space-none) auto;
  padding: var(--space-none) var(--space-xl);
}
@media (max-width: 480px) {
  .breadcrumbs__wrapper {
    padding-right: var(--space-base);
    padding-left: var(--space-none);
  }
}
.breadcrumbs__main {
  display: flex;
  padding: var(--space-xs) var(--space-none);
  flex-direction: row;
  align-items: center;
  min-width: 0;
}
.breadcrumbs__main-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  min-width: 0;
}
.breadcrumbs__navigation {
  display: flex;
  flex: 1;
  min-width: 0;
}
.breadcrumbs__content {
  display: flex;
  align-items: center;
  min-width: 0;
  width: 100%;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
  min-width: 0;
}
.breadcrumbs__title {
  min-width: 0;
  width: 100%;
  display: flex;
  flex: 1;
}
@media (max-width: 480px) {
  .breadcrumbs__title {
    font-size: var(--font-size-xs);
  }
}
.breadcrumbs__link {
  width: 100%;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.breadcrumbs__image {
  max-height: var(--breadcrumbs-image-height) !important;
}
@media (max-width: 768px) {
  .breadcrumbs__image {
    max-height: var(--breadcrumbs-image-height-mobile) !important;
  }
}
.breadcrumbs__margin--left-m {
  margin-left: var(--space-s);
}
@media (max-width: 767px) {
  .breadcrumbs__margin--left-m {
    margin-left: var(--space-xs);
  }
}
.breadcrumbs__margin--left-base {
  margin-left: var(--space-xs);
}
@media (max-width: 767px) {
  .breadcrumbs__margin--left-base {
    margin-left: var(--space-xs);
  }
}
.breadcrumbs__margin--right-s {
  margin-right: var(--space-xs);
}
@media (max-width: 767px) {
  .breadcrumbs__margin--right-s {
    margin-right: var(--space-xs);
  }
}