// Abstract
@use 'abstracts/flags' with (
    $is_main: false,
    $is_pat: true,
    $primitives: 'default'
);

@use 'abstracts/design-tokens-wrapper' as *;

// Patterns 
@use 'components/patterns' as *;

// Utilities
@use 'utilities/utility-classes' as *;

// Base
@use 'base/typography' as *;

// Components
@use 'components/button' as *;
@use 'components/search' as *;
@use 'components/badge' as *;
@use 'components/modal' as *;
@use 'components/pagination' as *;

// Layout
@use 'layout/grid' as *;