@use '../../abstracts' as *;

/* ==========================================================================*/
/*                        PATTERNS: HIGHLIOGHT CONTENT                       */
/* ==========================================================================*/

//-------------------------------------------
// Highlight Container
//-------------------------------------------

.highlight-content {
    // Visual Styling
    background-color: var(--color-info-extra-light);
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    
    // Spacing
    padding: var(--spacing-4);
    margin: var(--spacing-1);
}