@use 'sass:map';
@use '../../variables/foundation/image-scale' as scale;

// ========================================================================== //
//                        VARIABLES: IMAGES SEMANTICS                         //
// ========================================================================== //

