@use 'sass:map';
@use '../../functions/foundation/unit-conversion' as fn;
// ========================================================================== //
//                        VARIABLES: SEMANTIC - LAYOUT                        //
// ========================================================================== //

// -------------------------------------------
// Layout & Spacing
// -------------------------------------------

// Container Widths
$layout-max-width: fn.rem(1440);
$layout-half-max-width: fn.rem(720);
$popup-max-width: fn.rem(650);