@use 'sass:map';
@use '../../variables/foundation/grid-scale' as scale;

// ============================================================================ //
//                      FUNCTIONS: FOUNDATION - GRID SCALE                      //
// ============================================================================ //