@use 'sass:map';
@use '../variables/semantics/breakpoints' as semantics;

@mixin generate-breakpoints-tokens() {

  /* ========================================================================== */
  /*                             TOKENS: BREAKPOINTS                            */
  /* ========================================================================== */

  // -------------------------------------------
  // BREAKPOINT TOKENS - Minimum Widths
  // -------------------------------------------
  
  /* Extra Small - Portrait Phones (320px - 639px) */
  --breakpoint-xs: #{semantics.$breakpoint-xs};
  
  /* Small - Landscape Phones, Phablets (640px - 767px) */
  --breakpoint-s: #{semantics.$breakpoint-m};
  
  /* Medium - Tablets (768px - 1023px) */
  --breakpoint-m: #{semantics.$breakpoint-m};
  
  /* Large - Laptops, Small Desktops (1024px - 1279px) */
  --breakpoint-l: #{semantics.$breakpoint-l};
  
  /* Extra Large - Desktop Monitors (1280px+) */
  --breakpoint-xl: #{semantics.$breakpoint-xl};
  
  /* 2X Large - Ultra-Wide Displays (1920px+) */
  --breakpoint-2xl: #{semantics.$breakpoint-2xl};

  /* BREAKPOINT TOKENS - Maximum Widths */
  
  --breakpoint-xs-max: #{semantics.$breakpoint-xs-max};
  --breakpoint-s-max: #{semantics.$breakpoint-s-max};
  --breakpoint-m-max: #{semantics.$breakpoint-m-max};
  --breakpoint-l-max: #{semantics.$breakpoint-l-max};
  
  /* LEGACY - DEPRECATED */

  --breakpoint-phone: 480px;
  --breakpoint-phone-horizontal: 767px;
  --breakpoint-tablet: 768px;
  --breakpoint-tablet-horizontal: 1024px;
  --breakpoint-desktop: 1200px;
}
