@use 'sass:map';
@use '../flags' as flags;
@use '../variables/foundation/image-scale' as scale;

@mixin generate-image-tokens() {
    /* ========================================================================== */
    /*                               TOKENS: IMAGES                               */
    /* ========================================================================== */

    /* -------------------------------------------------------------------------- */
    /*                               IMAGES: WIDTH                                */
    /* -------------------------------------------------------------------------- */
    @each $size, $value in scale.$image-width-scale {
        --image-width-#{$size}: #{$value};
    }

    /* -------------------------------------------------------------------------- */
    /*                               IMAGES: HEIGHT                               */
    /* -------------------------------------------------------------------------- */
    @each $size, $value in scale.$image-height-scale {
        --image-height-#{$size}: #{$value};
    }

    /* -------------------------------------------------------------------------- */
    /*                              IMAGES: AVATAR                                */
    /* -------------------------------------------------------------------------- */
    @each $size, $value in scale.$avatar-size-scale {
        --avatar-size-#{$size}: #{$value};
    }

    /* -------------------------------------------------------------------------- */
    /*                              IMAGES: THUMBNAIL                             */
    /* -------------------------------------------------------------------------- */
    @each $size, $value in scale.$thumbnail-size-scale {
        --thumbnail-size-#{$size}: #{$value};
    }

    /* -------------------------------------------------------------------------- */
    /*                               IMAGES: LEGACY                               */
    /* -------------------------------------------------------------------------- */
    /* Maintained for backward compatibility                

    /* Brand Images */
    --image-star-alliance: 16.875rem;     /* 270px - Star Alliance logo */

    /* Form Images */
    --image-width-captcha: 17.875rem;     /* 286px - Captcha width */
    --image-height-captcha: 2.5rem;       /* 40px  - Captcha height */

    /* Logo Constraints */
    --logo-max-width: 11.25rem;           /* 180px - Maximum logo width */

    @if flags.$is_main {
        & {
          --login-background-image: url(/TapPortal_TH/img/TapPortal_TH.Login_Background.jpg);
        }
    }

}