@use 'sass:map';
@use '../flags' as flags;

@mixin generate-layout-tokens() {


    @if flags.$is_main {
        & {
            /* ========================================================================== */
            /*                               TOKENS: LAYOUT                               */
            /* ========================================================================== */
            --login-form-width: 27rem; 
        }
    }
} 