@use 'sass:map';
@use '../flags' as flags;

@mixin generate-layout-tokens() {

    @if flags.$is_main {
        & {
            /* ========================================================================== */
            /*                               TOKENS: LAYOUT                               */
            /* ========================================================================== */
            --login-form-width: 27rem; 
        }
    }

    --layout-max-width: 90rem;            /* 1440px */
    --layout-half-max-width: 45rem;       /* 720px */
    --popup-max-width: 40.625rem;         /* 650px */
} 