@use 'sass:map';
@use '../flags' as flags;

@mixin generate-layout-tokens() {
    /* ========================================================================== */
    /*                               TOKENS: LAYOUT                               */
    /* ========================================================================== */

    @if flags.$is_main {
        & {
            --login-form-width: 27rem; 
        }
    }
} 