@use 'sass:map';
@use '../variables/foundation/z-index-scale' as scale;

@mixin generate-z-index-tokens() {

/* ============================================================================ */
/*                              TOKENS: Z-INDEX                                 */
/* ============================================================================ */


    @each $layer, $value in scale.$z-index-layers {
    --z-index-#{$layer}: #{$value};
  }

  /*Legacy - Deprecated*/
  --z-index-modal-backdrop: var(--z-index-modal-overlay);

}