// ========================================================================== //
//                       MIXINS: HELPERS - LAYOUT                             //
// ========================================================================== //

/// Clearfix for floats
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
  
/// Center element absolutely within parent
/// Parent must have position: relative
/// @example
///   .modal-content { @include center-absolute; }
@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}