@use 'sass:map';

// ============================================================================
// PRIMITIVES: BASE SCALES
// ============================================================================

$base-lightness: (
  0: 100%,
  25: 99%,
  50: 97%,
  75: 95%,
  100: 92%,
  150: 87%,
  200: 78%,
  250: 73%,
  300: 69%,
  350: 62%,
  400: 55%,
  450: 48%,
  500: 40%,
  550: 38%,
  600: 36%,
  650: 32%,
  700: 30%,
  750: 26%,
  775: 24%,
  800: 22%,
  825: 20%,
  850: 19%,
  875: 16%,
  900: 13%,
  950: 0%
) !default;

$all-weights: (
  0, 25, 50, 75, 100, 150, 200, 250, 300, 350, 400, 450, 
  500, 550, 600, 650, 700, 750, 775, 800, 825, 850, 875, 900, 925, 950
) !default;