@use '../abstracts/mixins/generators' as *;

/* ========================================================================== */
/*                         UTILITY CLASSES: TYPOGRAPHY                        */
/* ========================================================================== */

@include generate-category-utilities();