// ============================================================================= //
//                         FUNCTIONS: PRIMITIVES SYSTEM                          //
// ============================================================================= //

@use 'sass:map';
@use '../../flags' as flags;
@use '../colors/factory' as factory;

// Import the forwarded primitives with correct prefixes
@use '../../variables/colors/primitives' as primitives;

// ============================================================================= //
//                     FUNCTIONS: COLOR - PRIMITIVES SYSTEM                      //
// ============================================================================= //

@function get-color($family, $weight: 500) {
  $color-config: primitives.$default-color-config;
  $base-lightness: primitives.$base-base-lightness;
  $custom-lightness: primitives.$default-custom-lightness;
  
  @return factory.create-color($color-config, $custom-lightness, $base-lightness, $family, $weight);
}