@use '../../../functions/colors/primitives-system' as primitives;
@use 'neutral' as neutral;
@use 'feedback' as feedback;

// ============================================================================= //
//                      VARIABLES: COLOR SEMANTICS - FOCUS                       //
// ============================================================================= //

$color-focus-ring: primitives.get-color('info', 500) !default;
$color-focus-ring-inverse: neutral.$color-neutral-0 !default;
$color-focus-ring-error: feedback.$color-feedback-danger !default;
$color-focus-ring-success: primitives.get-color('success', 500) !default;

$color-focus-ring-dark: primitives.get-color('info', 400) !default;
$color-focus-ring-inverse-dark: neutral.$color-neutral-950 !default;