@use '../../../flags' as flags;
@use 'neutral' as neutral;

// ============================================================================= //
//                      VARIABLES: COLOR SEMANTICS - LAYOUT                      //
// ============================================================================= //

$color-footer: neutral.$color-neutral-850 !default;
$color-footer-subtle: neutral.$color-neutral-875 !default;

@if flags.$primitives == 'default' {
    $color-footer: hsl(0, 0%, 20%) !global;
    $color-footer-subtle: hsl(0, 0%, 17%) !global;    
}