@use '../abstracts' as *;

/* ========================================================================== */
/*                           COMPONENTS: DATE PICKER                          */
/* ========================================================================== */

.osui-datepicker > span > input:first-of-type {
    display: none !important;
}

.flatpickr-calendar.hasTime:not(.inline) {
    position: absolute !important;
}