@use '../abstracts' as *;

/* ==========================================================================*/
/*                           COMPONENTS: DEPRECATED                          */
/* ==========================================================================*/

.banner-news__background::before {
    background: none !important;
    background-color: var(--color-neutral-10) !important;
    opacity: 0.4 !important;
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: var(--z-index-sticky) !important;
    transform: translate3d(0, 0, 0) !important;
    backface-visibility: hidden !important;
    perspective: 1000px !important;
    will-change: transform !important;
}

.banner-news__background > * {
    position: relative !important;
    z-index: var(--z-index-fixed) !important;
}