@use '../abstracts' as *;

/* ==========================================================================*/
/*                            COMPONENTS: INFO BAR                           */
/* ==========================================================================*/

.info-bar:has(.hidden) {
    display: none;
}