@use '../abstracts' as *;

/* ==========================================================================*/
/*                           COMPONENTS: MENU ICONS                          */
/* ==========================================================================*/

.menu-icon{
    @media screen and (max-width: $breakpoint-phone) {
        margin-right: var(--space-s);
   }
}

.show-when-sidemenu-visible {
    display: none;
}

.app-menu-links-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.app-menu-links{
    justify-content: center;
}

.menu-link-submenu:not(:first-child) {
    padding-left: var(--space-s);
}

.menu-link-submenu:not(:last-child) {
    padding-right: var(--space-s);

}

// Menu visible state
.menu-visible {

    .app-menu-links-content{
        display: flex;
        flex-direction: column;
        gap: var(--space-base);
        white-space: wrap;
        align-items: flex-start;
    }

    .show-when-sidemenu-visible {
        display: flex !important;
        align-items: center;
    }

    .app-menu-links{
        justify-content:flex-start;
    }

    .menu-link-item{
        padding: var(--space-s) var(--space-m);
    }

    .menu-link-submenu{
        padding-left: var(--space-none);
        padding-right: var(--space-none);

    }

}

.tablet .app-menu-content,
.phone .app-menu-content {
  z-index: var(--z-index-tooltip);
}

.osui-submenu {
  &.active {
    .osui-submenu__header__item,
    .osui-submenu__header__item a {
      margin-left: 5px;
    }
  }
}

.tablet .osui-submenu.active .osui-submenu__header,
.phone .osui-submenu.active .osui-submenu__header {
  border-left: var(--border-size-l) solid var(--color-primary);
}