// ========================================================================== //
//                        MIXIN: UTILITIES - TYPOGRAPHY                       //
// ========================================================================== //

@use 'sass:map';
@use '../../variables/foundation/typography-scale' as scale;

$font-weights-to-load: ('thin', 'light', 'regular', 'bold') !default;

@mixin font-face-generator($family, $path, $weight, $style: normal) {
    @font-face {
      font-family: $family;
      src: url('#{$path}') format('truetype');
      font-weight: $weight;
      font-style: $style;
      font-display: swap;
    }
}

// Load only specified font weights
@mixin load-font-weights($font-family, $font-path, $weights-to-load: $font-weights-to-load) {
    @each $style in $weights-to-load {
      @if map.has-key(scale.$font-weight-scale, $style) {
        $weight: map.get(scale.$font-weight-scale, $style);
        @include font-face-generator($font-family, '#{$font-path}#{$font-family}-#{$style}.ttf', $weight);
      }
    }
}