@use '../../../functions/colors/primitives-system' as primitives;
@use 'neutral' as neutral;
@use 'brand' as brand;
@use 'feedback' as feedback;

// ============================================================================= //
//                      VARIABLES: COLOR SEMANTICS - BORDER                      //
// ============================================================================= //

// Base Border Colors
$border-color-default: neutral.$color-neutral-200 !default;
$border-color-subtle: neutral.$color-neutral-100 !default;
$border-color-strong: neutral.$color-neutral-400 !default;

// Base Border Colors - Dark Mode
$border-color-default-dark: neutral.$color-neutral-600 !default;
$border-color-subtle-dark: neutral.$color-neutral-700 !default;
$border-color-strong-dark: neutral.$color-neutral-500 !default;

// Brand Border Colors
$border-color-primary-electric: brand.$color-brand-primary-electric !default;
$border-color-primary: brand.$color-brand-primary !default;
$border-color-secondary: brand.$color-brand-secondary !default;
$border-color-tertiary: brand.$color-brand-tertiary !default;

// Interactive States
$border-color-hover: neutral.$color-neutral-300 !default;
$border-color-pressed: neutral.$color-neutral-350 !default;
$border-color-focus: primitives.get-color('info', 500) !default;

// Interactive States - Dark Mode
$border-color-hover-dark: neutral.$color-neutral-550 !default;
$border-color-pressed-dark: neutral.$color-neutral-525 !default;

// Feedback States
$border-color-error: feedback.$color-feedback-danger !default;
$border-color-success: feedback.$color-feedback-success !default;