@use '../../../functions/colors/primitives-system' as primitives;
@use 'neutral' as neutral;

// ============================================================================= //
//                     VARIABLES: COLOR SEMANTICS - FEEDBACK                     //
// ============================================================================= //

$color-feedback-success: primitives.get-color('success', 200) !default;
$color-feedback-success-subtle: primitives.get-color('success', 50) !default;
$color-feedback-success-subtle-dark: primitives.get-color('success', 900) !default;
$color-feedback-success-faint: primitives.get-color('success', 25) !default;

$color-feedback-success-hover: primitives.get-color('success', 300) !default;
$color-feedback-success-active: primitives.get-color('success', 400) !default;
$color-feedback-success-pressed: primitives.get-color('success', 450) !default;

$color-feedback-info: primitives.get-color('info', 200) !default;
$color-feedback-info-subtle: primitives.get-color('info', 50) !default;
$color-feedback-info-subtle-dark: primitives.get-color('info', 900) !default;
$color-feedback-info-faint: primitives.get-color('info', 25) !default;

$color-feedback-info-hover: primitives.get-color('info', 300) !default;
$color-feedback-info-active: primitives.get-color('info', 400) !default;
$color-feedback-info-pressed: primitives.get-color('info', 450) !default;

$color-feedback-warning: primitives.get-color('warning', 400) !default;
$color-feedback-warning-subtle: primitives.get-color('warning', 50) !default;
$color-feedback-warning-subtle-dark: primitives.get-color('warning', 900) !default;
$color-feedback-warning-faint: primitives.get-color('warning', 25) !default;

$color-feedback-warning-hover: primitives.get-color('warning', 450) !default;
$color-feedback-warning-active: primitives.get-color('warning', 500) !default;
$color-feedback-warning-pressed: primitives.get-color('warning', 550) !default;

$color-feedback-danger: primitives.get-color('danger', 500) !default;
$color-feedback-danger-subtle: primitives.get-color('danger', 50) !default;
$color-feedback-danger-subtle-dark: primitives.get-color('danger', 900) !default;
$color-feedback-danger-faint: primitives.get-color('danger', 25) !default;

$color-feedback-danger-hover: primitives.get-color('danger', 600) !default;
$color-feedback-danger-active: primitives.get-color('danger', 700) !default;
$color-feedback-danger-pressed: primitives.get-color('danger', 750) !default;

$color-on-feedback: neutral.$color-neutral-600 !default;
$color-on-feedback-danger: neutral.$color-neutral-0 !default;

$color-on-feedback-dark: neutral.$color-neutral-800 !default;
$color-on-feedback-subtle-dark: neutral.$color-neutral-0 !default; 
$color-on-feedback-danger-dark: neutral.$color-neutral-0 !default;

$color-on-badge-success: primitives.get-color('success', 800) !default;
$color-on-badge-info: primitives.get-color('info', 800) !default;
$color-on-badge-warning: primitives.get-color('warning', 850) !default;
$color-on-badge-danger: neutral.$color-neutral-0 !default;

// Aliases
$color-success: $color-feedback-success !default;
$color-success-subtle: $color-feedback-success-subtle !default;
$color-warning: $color-feedback-warning !default;
$color-warning-subtle: $color-feedback-warning-subtle !default;
$color-info: $color-feedback-info !default;
$color-info-subtle: $color-feedback-info-subtle !default;
$color-danger: $color-feedback-danger !default;
$color-danger-subtle: $color-feedback-danger-subtle !default;