@use '../../../functions/colors/primitives-system' as primitives;
@use 'neutral' as neutral;

// ============================================================================= //
//                      VARIABLES: COLOR SEMANTICS - TIERS                       //
// ============================================================================= //

$color-tier-miles: primitives.get-color('tier-miles', 500) !default;
$color-tier-miles-subtle: primitives.get-color('tier-miles', 50) !default;
$color-tier-miles-subtle-dark: primitives.get-color('tier-miles', 900) !default;

$color-tier-miles-hover: primitives.get-color('tier-miles', 600) !default;
$color-tier-miles-active: primitives.get-color('tier-miles', 700) !default;
$color-tier-miles-pressed: primitives.get-color('tier-miles', 750) !default;

$color-tier-gold: primitives.get-color('tier-gold', 500) !default;
$color-tier-gold-subtle: primitives.get-color('tier-gold', 50) !default;
$color-tier-gold-subtle-dark: primitives.get-color('tier-gold', 900) !default;

$color-tier-gold-hover: primitives.get-color('tier-gold', 600) !default;
$color-tier-gold-active: primitives.get-color('tier-gold', 700) !default;
$color-tier-gold-pressed: primitives.get-color('tier-gold', 750) !default;

$color-tier-silver: primitives.get-color('tier-silver', 500) !default;
$color-tier-silver-subtle: primitives.get-color('tier-silver', 50) !default;
$color-tier-silver-subtle-dark: primitives.get-color('tier-silver', 900) !default;

$color-tier-silver-hover: primitives.get-color('tier-silver', 600) !default;
$color-tier-silver-active: primitives.get-color('tier-silver', 700) !default;
$color-tier-silver-pressed: primitives.get-color('tier-silver', 750) !default;

$color-tier-navigator: primitives.get-color('tier-navigator', 700) !default;
$color-tier-navigator-subtle: primitives.get-color('tier-navigator', 50) !default;
$color-tier-navigator-subtle-dark: primitives.get-color('tier-navigator', 900) !default;

$color-tier-navigator-hover: primitives.get-color('tier-navigator', 750) !default;
$color-tier-navigator-active: primitives.get-color('tier-navigator', 800) !default;
$color-tier-navigator-pressed: primitives.get-color('tier-navigator', 825) !default;

$color-on-tier: neutral.$color-neutral-800 !default;
$color-on-tier-navigator: neutral.$color-neutral-0 !default;

$color-on-tier-navigator-dark: neutral.$color-neutral-800 !default;
$color-on-tier-navigator-subtle-dark: neutral.$color-neutral-0 !default;