//-------------------------------------------
// Brand Colors
//-------------------------------------------

$color-primary: #72BE44;
$color-primary-light: #F1F9EC;

// Semantic Colors
$color-success: #28a745;
$color-danger: #dc3545;
$color-danger-light: #f7dddb;
$color-danger-extra-light: #ffecec;
$color-warning: #ffc107;
$color-warning-light: #FEFBCD;
$color-info: #17a2b8;
$color-info-light: #add8e6;
$color-info-extra-light: #e5f5fc;

// Neutral Scale
$color-neutral-0: #ffffff;
$color-neutral-1: #f8f9fa;
$color-neutral-2: #f1f3f5;
$color-neutral-3: #e9ecef;
$color-neutral-4: #dee2e6;
$color-neutral-5: #ced4da;
$color-neutral-6: #adb5bd;
$color-neutral-7: #6a7178;
$color-neutral-8: #4f575e;
$color-neutral-9: #272b30;
$color-neutral-10: #101213;

// Theme Colors
$color-light: $color-neutral-1;
$color-dark: $color-neutral-9;
$color-footer: #333333;
$color-footer-section: #2C2C2C;

// Z-index Stack
$z-index-dropdown: 1000;
$z-index-sticky: 1020;
$z-index-fixed: 1030;
$z-index-modal-backdrop: 1040;
$z-index-modal: 1050;
$z-index-popover: 1060;
$z-index-tooltip: 1070;

// Border Styles
$border-size-none: 0px;
$border-size-xs: 0.5px;
$border-size-s: 1px;
$border-width-selected: 3px;
$border-width: 0.3px;
$border-style: solid;
//$border-color: $color-primary;
$border-radius-soft: 4px;
$border-radius-extra-soft: 15px;

// Font weight mapping
$weight-names: (
  100: 'Thin',
  300: 'Light',
  400: 'Regular',
  700: 'Bold'
);

// Font Weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-bold: bold;

// Breakpoints
$breakpoint-phone: 480px;
$breakpoint-phone-horizontal: 767px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1200px;

// Grid Maps
$grid-breakpoints: (
  xs: 0,
  sm: $breakpoint-phone,
  md: $breakpoint-tablet,
  lg: $breakpoint-tablet-horizontal,
  xl: $breakpoint-desktop
);

$grid-container-max-widths: (
  sm: $breakpoint-phone-horizontal,
  md: $breakpoint-tablet-horizontal,
  lg: $breakpoint-desktop,
  xl: $layout-max-width
);

// Grid System
$grid-columns: 12;
$grid-columns-standard: 4;
$grid-gap: 25px;
$grid-gutter-width: 30px;

$font-path: if(flags.$is_main, '/TapPortal_TH/', 
               if(flags.$is_pat, '/TapPortal_PAT/', '/TapPortal_TH/')
             );

// Login
$login-form-width: fn.rem(432);
$login-background-image: url(/TapPortal_TH/img/TapPortal_TH.Login_Background.jpg);

// Icons
$icon-font-family: 'MegasisIconsFont';

// Banner
$banner-height: fn.rem(400);
$banner-height-phone: fn.rem(309);
